body {
    padding: 0px;
    margin: 0px;
    display: flex;
}

main {

    
    
}
#navbar {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: aqua;
    color: green;
    height: 100%;
    position: fixed;
}