body {
    padding: 0px;
    margin: 0px;
    display: flex;
}

main {

 margin-left: 405px;   
    
}
#navbar {
    display: flex;
    flex-direction: column;
    width: 400px;
    color: green;
    height: 100%;
    position: fixed;
    border-right: black solid;
}

.nav-link {
    border-top: solid black;
    border-width: 2px;
    margin: 8px;
    text-decoration: none;
    color: black;
}


@media(max-width: 800px) {
    body {
        flex-direction: column;
    }
    #navbar {
        position: relative;
        width: 100vw;
    }
    main {
        margin: 0px;
    }
}