body {
    padding: 0px;
    margin: 0px;
    display: flex;
    font-family: 'Open Sans', Arial, sans-serif;;
}

main {

 margin-left: 405px;   
 font-size: x-large;
 padding: 32px;
    
}
#navbar {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    position: fixed;
    border-right: black solid;
    padding: 0px;
    margin: 0px;
    font-size: larger;
}

#nav-header {
    padding: 16px;
}
.nav-link {
    border-top: solid black;
    border-width: 2px;
    margin: 0px;
    text-decoration: none;
    color: black;
    padding: 8px;
}

.main-section header {
    font-weight: bold;
    margin-top: 8px;
}

#Reference header {
    margin-top: 24px;
}
p, li, code {
    font-size: 0.7em;
}
@media(max-width: 800px) {
    body {
        flex-direction: column;
    }
    #navbar {
        position: relative;
        width: 100vw;
    }
    main {
        margin: 0px;
        border-top: black solid;
        border-width: 2px;
        padding-top:  4px;
    }
}
